<?xml version="1.0"?>
<config>
    <modules>
        <Pebble_RemoveParentCategoryUrl>
            <version>0.1</version>
        </Pebble_RemoveParentCategoryUrl>
    </modules>
    <global>
       <models>
          <catalog>
              <rewrite>
                  <url>Pebble_RemoveParentCategoryUrl_Model_Url</url>
              </rewrite>
          </catalog>
       </models>
    </global>
</config>